body {
  background-color: #f8e8a6;
  color: #333332;
}

header {
  display: block;
  text-align: center;
  margin: 40px;
}

header a {
  margin: 0 15px;
  text-decoration: none;
  color: #6da832;
}

header a:hover {
  text-decoration: underline;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  display: block;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 8px;
}
